body {
    padding: 30px;
    background: white;

}
.window {
    max-height: 1080px;
    min-height: 700px;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
}

.window__inner-element {
    background: rgb(162, 215, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}